Hello,

Bug #<%= bug %> in <%= package %> reported by you has been fixed in the Git repository.
You can see the commit message below, and you can check the diff of the fix at:

<%= commit["url"] %>

------------------------------------------------------------------------
<%= commit["message"] %>
------------------------------------------------------------------------

(this message was generated automatically)
-- 
Greetings

https://bugs.debian.org/<%= bug %>
